<div class="app-header">
    <div class="container">
        <h2 class="text-center">Tractor Data - {{router.url === '/admin' ? 'Admin' : 'User'}}</h2>

        <div class="text-center">
            <div class="nav-tabs-custom">
                <button class="nav-link" routerLink="/admin" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">
                    Admin
                </button>
                <button class="nav-link" routerLink="/user" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}">
                    User
                </button>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>